<h3><%= @guest.name %></h2>

<h4><%= @guest.occupation %></h4>


<!--
On the guests index page, clicking on a guest's name should take us to a detail view about each guest. This View should include the guests name and occupation. -->
